// ==========================================================================
// Footer Styles
// ==========================================================================

.footer {
	position: relative;
    bottom: 0;
  	width: 100%;
  	/* Set the fixed height of the footer here */
 	height: 60px;
 	clear: both;
  padding-top: 20px;
  background-color: $color-shadow;
  	
  	p {
      padding-left: 20px;
  		color: $color-light;

      a {
        color: $color-secondary;
      }
  	}
}


